*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  gap: 2rem;
  min-height: 100vh;
  background-image: conic-gradient(
    at 125% 50%,
    #b78cf7,
    #ff7c94,
    #ffcf0d,
    #ff7c94,
    #b78cf7
  );
  font-family: system-ui;
}

.button {
  cursor: pointer;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;
  color: hsl(320, 40%, 40%);
  background-color: hsl(349 100% 95%);
  padding: 0.75em 1.25em;
  border: 0;
  border-radius: 1.25rem;
}

.glow-effect {
  /* do not change, used for calculations */
  --container-offset: 100px;
  position: relative;
}

.glow-container {
  pointer-events: none; /* we only want the hover effect trigger in the button area, not the container area (since now we increase the container size) */
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  outline: 3px solid blue;
}

.glow-blur,
.glow-line {
  /* because the width in .glow-container increase, we need to shrink back into the button size */
  width: calc(100% - var(--container-offset));
  height: calc(100% - var(--container-offset));
  /* put into the correct position so now we can see the grow in the overflow outside the stroke as well */
  x: calc(var(--container-offset) / 2);
  y: calc(var(--container-offset) / 2);

  rx: 1.25rem; /* to the same as border-radius in .button */
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  /*stroke-dasharray: 50px 50px;*/
  stroke-dasharray: 20px 30px;

  transition: stroke-dashoffset 2000ms;
}

.glow-effect:hover .glow-blur,
.glow-effect:hover .glow-line {
  /* stroke-dashoffset is how far does it move, negative number will make it move clock wise */
  stroke-dashoffset: -65px;
}

.glow-blur {
  /* Add the blur but you can only see the blur in the inner part, not the overflow part. */
  filter: blur(5px);
}
